{% extends "base.html" %}
{% from 'bootstrap5/table.html' import render_table %}
{% from "bootstrap5/pagination.html" import render_pagination %}


<div class="row col-8">
    {% block title %}Browse: {{ record_type }}{% endblock %}
    {% block content %}
        <h2>Map</h2>
        <div id="map"></div>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        <script
                src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&v=weekly"
                defer
        ></script>
        <script type=text/javascript>
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8,
                });
            }

            window.initMap = initMap;
        </script>



    {% endblock %}
</div>



