{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row">
        <div class="col-7">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>
        <div id="message" class="col-5">
            <div id="letter" class="red">
                Has lower case letter
                <div class="progress">
                    <div id="p-bar" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
    <style>
        .invalid {
            color: red;
        }

        .valid {
            color: green;
        }
    </style>


    <script>
        var passwordField = document.getElementById("password");
        var letter = document.getElementById("letter");
        var lowerCase = 0;

        passwordField.onfocus = function () {
            var message = document.getElementById("message");
            message.style.display = "block";
            message.style.border = "1px solid";
        }

        passwordField.onkeyup = function () {
            var progress_bar = document.getElementById("p-bar");
            // Validate lowercase letters
            let lowerCaseLetters = /[a-z]/g;
            let new_width_value;
            if(lowerCase === 0) {
                let p_bar_width_string = progress_bar.style.width;
                let width_current_value = parseInt(p_bar_width_string.substring(0, p_bar_width_string.length - 1));
                width_current_value = width_current_value + 33;
                let width_string_new_value = width_current_value.toString();
                new_width_value = width_string_new_value.concat("%");
            } else {
                new_width_value = progress_bar.style.width;
            }
            if (passwordField.value.match(lowerCaseLetters)) {
                progress_bar.style.width = new_width_value;
                lowerCase = 1;
            } else {
                progress_bar.style.width = "0%";
                lowerCase = 0;
            }
        }


    </script>

{% endblock %}
